button::-moz-focus-inner {
  border: 0;
}

div::-moz-focus-inner {
  border: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: Ubuntu, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 22px;
  background: #eaeaea;
}


/* Toolbar */

#toolbar-section {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#toolbar {
  display:block;
  position: static;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  background: #005dbf;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#lefttabs {
  display:inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 49%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left:40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#righttabs {
  display:inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 49%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-right:40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

.tab {
  display: flex;
  height: 100%;
  width: auto;
  padding: 0;
  margin:0;
  align-items: center;
  justify-content: center;
  cursor: default;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error {
  /*color: red;*/
}

.tab a {
  display: flex;
  width: auto;
  height: auto;
  margin: 0;
  padding: 5px;
  color: white;
  font-size: 22px;
  font-variant: normal;
  text-decoration: none;
  outline: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tab a:hover {
  background: #0068d6;
  border-radius: 7px;
}

.tab a.active {
  background: white;
  color: #005dbf;
  border-radius: 7px;
}
